.navbar-fixed-left{
    background-image: url("../images/bg.jpg");
    background-size: cover;
    height: 300px;
    width: 100%;
}

.navbar-header{
    width: 100%;
}



.blog-header{

    padding-left: 10px;
}

.container{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

.indent{
    text-indent: 20px;
}

.blog-body{
    text-align: initial;
    padding-left: 5%;
    padding-right:5%;
}
nav.navbar.navbar-fixed-left {
    max-height: 100%;
    overflow-y: auto;
}


@media (min-width:900px){ /*(pc version) when width is greater than 768px*/
    nav.navbar.navbar-fixed-left {
        overflow-y: visible;
    }

    .navbar-fixed-left .navbar-collapse .navbar-nav > li{
        width: 100%;
    }

    .navbar-fixed-left{
        position: fixed;
        width: 50%;
        height: 100%;
    }

    .container{
        padding-top: 68px;
        padding-left: 54%;
        width: 100%;

        /*
        padding-right: 120px;
        margin-right: 40%;
        margin-left: 15%;*/
    }


}


