
/* navigator bar + first(Sheng) section*/
.navbar-nav{ /* Unordered List */
    display: inline-block;
    float: none;
    vertical-align: top;
}


@media (max-width:760px){
    .nav-bar{
        text-align: right;
        background-color: transparent;
    }
    .navbar-nav{
        background-color: transparent;
    }
}
.nav-bar{ 
    padding-top: 1.5%;
    background-image: none;
    background-color: transparent;
    border: none;
   
}

.navbar-collapse{
    border: none;
    border-color: transparent;
    background: transparent;
}


.nav-link {
    font-size: 15px;
    color: white;
}


.profileIMG-circle{
    background-image: url("../assets/Sheng.png");
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

/* Shared properties*/
.container-fluid-self {
    padding-top: 10%;
    padding-bottom: 10%;
}

.toggle{
    background-color: grey;
}

.parallax-visual{
    background-attachment: fixed;

}

/* Body section */
body{
    margin:0;
    font: Montserrat;
    line-height: 1.8;
    text-align: center;
    background-color: #222;
    color:white;
}

.display{
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.visible{
    visibility: visible;
}

.invisible{
    visibility: hidden;
}

.about-bg{
    color:white;
}

.body-bg {
    background-color: white;
    color: black;

}

.background-container{

    background-image: url('../assets/bg.gif');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.div-left{
    float: left;
    padding-left: 7%;
}

.div-right{
    text-align: justify;
    padding-left: 45%;
    padding-right: 7%;
}

@media (max-width: 768px) {
    .div-column {
        width: 100%;
        padding-left: 3%;
    }

    .background-container{
        height: 100vh;
    }

}

.div-title{
    font-weight: bold;
    padding-bottom: 3%;
}


.div-techlist{
    margin: 2%;

}

/*p,h5,h4,h3{
    font-size: 100%;
}

h2{
    font-size: 1500%;
}*/



/* foot section */

.btn-primary-white{
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    background-color:transparent;
    text-decoration: none;
    text-align: center;
    color: white;
    width: 15em;
    transition: 0.1s;
    padding-top: 10px;
    padding-bottom: 10px;

}

.resume-viewer{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;

}

.btn-primary-white:hover{
    background: white;
    color: black;
}



.contact-bg {
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.link{
    text-decoration: none;
    color:white;
}

.social-icon-item {
    display: inline-block;
    float: none;
    vertical-align: top;
    border: none;
    list-style: none;
}
.social-icon-img{
    height: 45px;
    width: 45px;
}

.head-content > p{
    font-size: 90%;
}




/* After Google login function
.btn{
    margin: 6px;
}

#log-suces{
    color: aliceblue;
    margin: 11px;
}

#profile-photo{
    width: 26px;
    height: 20px;
    margin: 11px;
}

.show-after-log{

    display: none;
}*/

