
/* navigator bar + first(Sheng) section*/
.navbar-nav{
    display: inline-block;
    float: none;
    vertical-align: top;
    
}

.nav-bar{
    padding-top: 1.5%;
    background-image: none;
    background-color: transparent;
    border: none;
}

.nav-link {
    font-size: 15px;
    color: white;
}


.profileIMG-circle{
    border-radius: 50%;
    height: 10%;
    width: 15%;
}

/* Shared properties*/
.container-fluid-self {
    padding-top: 10%;
    padding-bottom: 6%;
}




/* Body section */
body{
    margin:0;
    font: 13.74% Montserrat;
    line-height: 1.8;
    text-align: center;
    background-color: #222;
    color:white;
}




.about-bg{
    color:white;
}

.mission-bg {
    background-color: white;
    color: black;

}

.container-fluid{

    background-image: url('./images/code.jpg');
    background-repeat: no-repeat;
    background-size: 140%;
}

.div-left{
    float: left;
    margin-left: 7%;
}

.div-right{
    text-align: justify;
    margin-left: 45%;
}

@media (max-width: 600px) {
    .div-column {
        width: 100%;
        margin-left: 3%;
    }

}

.div-title{
    font-weight: bold;
    margin-bottom: 3%;
}


.tech-item{
    font-size: 950%;
    margin: 1%;
}

p,h5,h4,h3{
    font-size: 1000%;
}

h2{
    font-size: 1500%;
}

.job-description{
    padding-right: 15%;
}

/* foot section */

.contact-bg {
    color: white;
}

.link{
    text-decoration: none;
    color:white;
}

.social-icon-item {
    display: inline-block;
    float: none;
    vertical-align: top;
    border: none;
    list-style: none;
}
.social-icon-img{
    height: 45px;
    width: 45px;
}




/* After Google login function
.btn{
    margin: 6px;
}

#log-suces{
    color: aliceblue;
    margin: 11px;
}

#profile-photo{
    width: 26px;
    height: 20px;
    margin: 11px;
}

.show-after-log{

    display: none;
}*/

